.accordion-container {
    margin-bottom: 1rem;
}

.accordion-item {
    margin-bottom: 0.5rem;
}

.accordion-trigger {
    padding: 0.5rem;
    cursor: pointer;
}

.accordion-content {
    padding: 0.5rem;
}

.underline-hover-side:hover {
    text-decoration: underline;
}

.text-md {
    font-size: 1rem;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.mt-4 {
    margin-top: 1rem;
}

.ml-2 {
    margin-left: 0.5rem;
}

.mt-2 {
    margin-top: 0.5rem;
}

.pl-4 {
    padding-left: 1rem;
}

.font-bold {
    font-weight: bold;
}

.sm\:text-3xl {
    color: #80030e;
}

.gapFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    margin-left: 0px;
}

.courseSideBar {
    width: 30%;
    border-right: 1px solid hsl(var(--border));
    /* background-color: hsl(var(--primary-foreground)); */
    color: #061a4c;
    padding-left: 2.5rem;
    padding-top: 1rem;
}

.videoFlex {
    padding-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.layoutYellow {
}

.bg-y {
}
