<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <style>
      body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        color: #333;
      }
      .header {
        background-color: #0a173b;
        color: #ffffff;
        padding: 20px;
        text-align: center;
      }
      .header img {
        max-width: 150px;
        height: auto;
      }
      .header h1 {
        font-size: 24px;
        margin: 10px 0 0 0;
      }
    </style>
  </head>
  <body
    style="
      font-family: Arial, sans-serif;
      line-height: 1.6;
      color: #333;
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
    "
  >
    <!-- Header -->
    <div
      class="header"
      style="
        background-color: #0a173b;
        color: #ffffff;
        padding: 15px;
        text-align: center;
        border-radius: 5px;
      "
    >
      <img
        src="https://va-claims-assets.s3.us-west-2.amazonaws.com/VA_Claims_Main_Logo_Transparent_2_200px.png"
        alt="VA Claims Academy Logo"
        style="max-width: 100px; height: auto"
      />
    </div>

    <!-- Email Body -->
    <div style="padding: 20px">
      <p style="font-size: 16px">Hello <%= name %>,</p>

      <p style="font-size: 16px">
        Thank you for confirming your interest in joining our community! We're
        thrilled to welcome you and look forward to supporting you with
        exclusive resources, updates, and insights tailored to your journey.
      </p>

      <p style="font-size: 16px">
        To get started, we’ve created a personalized link just for you:
      </p>

      <p style="text-align: center; margin-top: 10px">
        <a
          href="<%= formLink %>"
          style="
            background-color: #0a173b;
            color: #ffffff;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
            font-weight: bold;
          "
          >Signup Now!</a
        >
      </p>

      <p style="font-size: 16px; margin-top: 20px">
        Here, you’ll find resources, upcoming events, and personalized next
        steps to help you make the most of our platform. Feel free to reach out
        to our team at any time if you have questions or need further
        assistance.
      </p>

      <p style="font-size: 16px">
        Welcome aboard – we’re excited to have you with us!
      </p>
    </div>

    <!-- Footer -->
    <div
      style="
        margin-top: 20px;
        border-top: 1px solid #ccc;
        padding-top: 10px;
        font-size: 16px;
        display: flex;
        justify-content: center;
      "
    >
      <p style="font-size: 16px">
        Warm regards,<br />
        The VA Claims Academy Team
      </p>
    </div>
  </body>
</html>
